/* welcome */
*{
    margin: 0;
    padding: 0;
}
/* ! body */
.theBody{
    background-color: rgb(232, 238, 232); 
     width: 100%;
}
/* ! this is the header */
/* ? nav 1 */
.firstNav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin:10px 100px;
}
.firstNavDivFother{
    display: flex;
    gap: 35px;
}
.firstNavDivShild{
    display: flex;
    gap: 5px;
}
.firstNavLinks{
    text-decoration: none;
    color: gray;
}
.firstNavIcons{
    color: gray;
}
.firstNavPara{
    color: green;
}
/* ? nav 2 */
.secondNav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px 0px;
}
.secondNavDiv1{
    display: flex;
    padding-right: 80px;
    gap: 5px;
    margin-top: 12px;
}
.ShopWise{
    font-size: 25px;
}
.ShopWiseIcon{
    color: green;
    margin-top: 7px;
}
.secondNavDiv2{
   border: 1px black solid;
   border-radius:3px ;
   display: flex;
   justify-content: center;
   align-items: center;
   color: gray;
   padding: 0px 0px 0px 10px;
}
.secondNavDiv2searchBar{
    padding: 10px 10px 10px 10px ;
    width: 400px;
    border-style: hidden;
    margin: 5px ;
}
.secondNavDiv2BTN{
    color: white;
    background-color: green;
    padding: 12px 30px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    margin-right: 4px;
    
}
.secondNavDiv3{
 padding-left: 80px;
 display: flex;
 gap: 10px;
 margin-top: 15px;
}
/* ? nav 3 */
.thirdNav{
    display: flex;
    background-color: white;
    border-top: 1px gray solid;
    padding: 30px;
    gap: 30px;
    padding-left: 100px;
}
.thirdNavlinks{
    text-decoration: none;
    font-weight:bold ;
    color: gray;
}
.thirdNavlinks:hover{
    color: green;

}

.flesh{
    color: gray;
}

/* todo section 2 */
.secondSectionfotherDiv{
    display: flex;
    gap: 50px;
    padding-left: 80px;
    padding-top: 30px;
}
/* ? div 1 */
.secondSectionFirstdiv{
    background-color: white;
border: 1px gray solid;
    width: 300px;
    /* height: 400px; */
    border-radius: 10px;
}
.secondSectionPic{
    /* height: 200px; */
    height: 300px;
    width: 100%;
    border-bottom:1px gray solid ;
}
.liftFlech{
    background-color: rgb(223, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    left: 7px;
}
.secondSectionFirstdiv2{
    padding: 15px 10px;
}
.Ceramic{
    font-size: 20px;
    font-weight: bold;
    padding-bottom:10px ;
}
.priceOne{
    font-size: 20px;
    font-weight: bolder;
    color: green;
    padding-top:20px ;
}
.spanPrice{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
/* ? div 2 */
.secondSectionPic2{
    height: 300px;
    border-bottom: 1px solid gray;
    width:100%;
}

.sale{
    border: 1px gray solid;
    width: 30px;
    padding: 2px 15px;
    border-radius: 12px;
    position: relative;
    top: -300px;
    left: 5px;
     font-weight: bold;
}
/* ? div 3 */
.sale2{
    border: 1px green solid;
    width: 30px;
    padding: 2px 15px;
    border-radius: 12px;
    position: relative;
    top: -300px;
    left: 5px;
    color: green;
    font-weight: bold;
    background-color: rgb(216, 235, 216);
}
/* ? div 4 */
.liftFlech2{ 
    background-color: rgb(223, 222, 222);
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 20px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    position: relative;
    bottom: 80px;
    left: 240px;
} 
/* todo section 3 */
.thirdSection{
    display: flex;
    padding-left: 80px;
    margin-top: 50px;
    padding-top:50px ;
    background-color: white;
    gap: 30px;
}
.thirdSectionPic{
    width: 700px;
    height: 450px;
    border-radius: 15px;
}
.thirdSectionDiv2{
    border: 1px black solid;
    border-radius: 10px;
    width: 433px;
    height: 385px;
    padding: 30px;
}
.newSeason{
    border: 1px green solid;
    border-radius: 10px;
    width: 85px;
    padding: 3px;
    color: green;
    background-color: rgb(230, 244, 243);
    font-weight: bold;
}
.winter{
    font-size: 30px;
    padding: 25px 0px;
    font-weight: bold;
}
.thirdSectionPara1{
    color: gray;
    padding-bottom: 20px;

    
}
.thirdSectionPara{
    color: gray;
    padding: 10px 0px;
}
.yesIcons{
    color: green;
    padding-right: 7px;
}
.thirdSectionBtn{
background-color: green;
padding: 10px 30px;
color: white;
border-style: hidden;
border-radius: 5px;
margin-top: 50px;
cursor: pointer;

}
/* todo section 4 */
.FourthSection{
    padding-left: 80px;
    background-color: white;
    padding-top: 40px;
    display: flex;
    gap: 15px;
}
/* ? card 1 */
.FourthSectionPIC{
    height: 100%;
    /* width: 400px; */
    width: 100%;
    background-color: rgb(243, 240, 240);

}
.FourthSectionPICDiv{
    height: 270px;
    border-radius: 15px;
}
.fourthSectionCard1{
    border: 1px solid black;
    padding: 1px;
    height: 380px;
    width: 300px;
    border-radius: 10px;
}

.Modern{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px;
}
.FourthSectionPara{
    color: gray;
    padding-bottom: 10px;
}
.fourthSectionCard1link{
    color: green;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;

}
.FourthSectionPICDiv2{
    padding-left: 20px;
}

